<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
    <script>
              function redirectToAdminPage() {
                window.location.href = 'admin';
              }
              function toScanPage() {
                window.location.href = 'scan';
              }
    </script>
</head>
<body class="p-4 font-[PT Sans]">
   <div class="flex space-x-2">
       <img src="{{url_for('static', filename='logo.png')}}" class="w-16 h-16 rounded-full" >
       <h1 class="text-[36px] text-[#01A5DB] font-bold">Welcome to the attendance system</h1>
   </div>
    <div class="flex space-x-2 mt-[4%]">
        <p class="text-[24px] mt-[4%] font-bold">Click here to scan : </p>
        <button class="border-[2px] rounded-lg hover:text-[#01A5DB]"  onclick="toScanPage()"><img src="{{url_for('static', filename='face_scan.png')}}" class="w-32 h-26"> Scan</button>
    </div>
    <div class="flex mt-[4%] space-x-2">
        <p class="text-[24px] mt-[4%] font-bold">View your attendance :  </p>
        <div class="grid-cols-3 space-x-2 ">
            <button class="border-[2px] hover:text-[#01A5DB] rounded-lg"><img src="{{url_for('static', filename='student.png')}}" class="w-32 h-26"> Student</button>
            <button class="border-[2px] hover:text-[#01A5DB] rounded-lg"><img src="{{url_for('static', filename='prof.png')}}" class="w-32 h-26"> Professor</button>
            <button class="border-[2px] hover:text-[#01A5DB] rounded-lg" onclick="redirectToAdminPage()"><img src="{{url_for('static', filename='admin.png')}}" class="w-32 h-26"> Admin</button>
        </div>
     
    </div>
</body>
</html>